<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="newPAWN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SAMPCE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <newPAWN.Properties.Settings>
            <setting name="font" serializeAs="String">
                <value>Courier New, 8.25pt</value>
            </setting>
            <setting name="useNOS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpath" serializeAs="String">
                <value>pawncc.exe</value>
            </setting>
            <setting name="cargs" serializeAs="String">
                <value/>
            </setting>
        </newPAWN.Properties.Settings>
        <SAMPCE.Properties.Settings>
            <setting name="font" serializeAs="String">
                <value>Courier New, 8.25pt</value>
            </setting>
            <setting name="fd" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="cpath" serializeAs="String">
                <value>pawncc.exe</value>
            </setting>
            <setting name="cargs" serializeAs="String">
                <value />
            </setting>
            <setting name="afl" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="aflcustom" serializeAs="String">
                <value />
            </setting>
        </SAMPCE.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
